@model MvcProjee.Models.Entity.Table_Konser
@{
    ViewBag.Title = "YeniKonser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Konser Ekle Sayfası</h2>
<br />
<form class="form-group" method="post">
    <div>
        <label>Konser Adı</label>
        <input type="text" class="form-control" name="KonserAdı" required="" />
        <label>Konser Konumu</label>
        <input type="text" class="form-control" name="KonserKonumu" required="" />
        <label>Konser Tarihi</label>
        <input type="date" class="form-control" name="KonserTarihi" />
        <label>Konser İl</label>
        <input type="text" class="form-control" name="Konserİl" required="" />
        <label>Konser İlçe</label>
        <input type="text" class="form-control" name="Konserİlce" required="" />
        <div style="margin-top:15px">
            <label>Kategori Adı</label>
            @Html.DropDownListFor(m => m.Table_Kategori.KategoriID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        </div>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Konser Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Konser Eklendi.');
        });
    </script>
</form>
