
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Anasayfa</h2>
<div class="jumbotron">
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Avm/Index"><button class="btn btn-warning" style="background-color:steelblue; width: 300px; padding: 50px; margin: 20px;">Avm</button></a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Kategori/Index"><button class="btn btn-danger" style="background-color:lightcoral; width: 300px; padding: 50px; margin: 20px;">Kategori</button></a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Konser/Index"><button class="btn btn-success" style="background-color:lightsalmon; width: 300px; padding: 50px; margin: 20px;">Konser</button></a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Otel/Index"><button class="btn btn-info" style="background-color:lightskyblue; width: 300px; padding: 50px; margin: 20px;">Otel</button></a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Restoran/Index"><button class="btn btn-danger" style="background-color:lightseagreen; width: 300px; padding: 50px; margin: 20px;">Restoran</button></a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Seyahat/Index"><button class="btn btn-success" style="background-color:lightslategrey; width: 300px; padding: 50px; margin: 20px;">Seyahat</button></a>
    </div>
    <a href="/Sinema/Index"><button class="btn btn-warning" style="background-color:darkseagreen; width: 300px; padding: 50px; margin: 20px;">Sinema</button></a>
    <div class="col-md-6 col-lg-4 mb-5">
        <a href="/Tiyatro/Index"><button class="btn btn-info" style="background-color:olive; width: 300px; padding: 50px; margin: 20px;">Tiyatro</button></a>
    </div>
