@model MvcProjee.Models.Entity.Table_Seyahat
@{
    ViewBag.Title = "YeniSeyahat";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Seyahat Ekle</h2>

<form class="form-group" method="post">
    <div>
        <label>Seyahat Adı</label>
        <input type="text" class="form-control" name="SeyahatAdı" required="" />
    </div>
    <div style="margin-top:15px">
        <label>Seyahat Nereden</label>
        <input type="text" class="form-control" name="Seyahat_Konumu" required="" />
    </div>
    <div style="margin-top:15px">
        <label>Seyahat Nereye</label>
        <input type="text" class="form-control" name="Seyahat_İl" required="" />
    </div>
    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        @Html.DropDownListFor(m => m.Table_Kategori.KategoriID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Seyahat Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Seyahat Eklendi.');
        });
    </script>
</form>