@model MvcProjee.Models.Entity.Table_Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>KategoriGetir</h2>

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KategoriID) @Html.TextBoxFor(m => m.KategoriID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.KategoriAd) @Html.TextBoxFor(m => m.KategoriAd, new { @class = "form-control" })
    </div> <div>
        <button class="btn btn-warning" id="btn1">Kategori Güncelle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Kategori Güncellendi.');
        });
    </script>
}
