
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfasına Hoşgeldiniz</h2>
<br />
<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd" placeholder="Kategori Girin" required="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" >Kategori Ekle</button>
    </div>
    
</form>
